body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    margin: 0;
}


.hero,
.footer,
.section_one{
    background-color: #1F2937;
}


/* Hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8
}

.header_links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header_links a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Section one */
.section_one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 250px;
    /* height: 200px; */
    /* border: 1px solid red; */
}

.section_one_image{
    background-color: gray;
    color: #e5e7eb;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_one_text_content{
    width: 50%;
    height: 200px
}

.section_one_title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.section_one_text{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.section_one_button{
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 10px;
    padding: 2px 20px;
}

/* Section two */

.section_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 100px;
    gap: 30px;
}

.section_two_title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section_two_item_container{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 50px;
}

.section_two_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section_two_item_image{
    border: 5px solid #3882F6;
    box-sizing: border-box;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.section_two_item_text{
    text-align: center;
    width: 150px;
}

/* Section three */

.section_three{
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.section_three_quote_text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
}

.section_three_quote_author{
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

/* Section four */

.section_four{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 100px 250px;
    padding: 50px;
}

.section_four_title{
    font-size: 24px;
    font-weight: bold;
    color:#e5e7eb;
    margin-bottom: 5px;
}

.section_four_text{
    color:#e5e7eb;
}

.section_four_button{
    background-color: #3882F6;
    border: 1px solid #e5e7eb;
    color: #e5e7eb;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.footer{
    text-align: center;
    color: #e5e7eb;
    padding: 40px;
}